*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html,
body{
    font-family: 'Oswald', sans-serif;
    color: white;
}

.title{
    text-align: center;
}

.title p:first-of-type{
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
}

.title h2{
    font-size: 50px;
    font-weight: 400;
}

.title--black h2{
    color: black;
}

.title p:last-of-type{
    font-size: 20px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}

.btnMei{
    padding: 20px 30px;
    border: 1px solid black;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
}

.btnMei:hover{
    background-color: #e62b4a;
    border-color: #e62b4a;
}

button{
    outline: none;
}


/* header */
header{
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 26px 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.header__content{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    align-items: center;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
}

.header__content ul{
    list-style: none;
}

.header__content li{
    display: inline;
    padding: 0 26px;
}

.header__content a{
    color: white;
    text-decoration: none;
}

.header__content li a{
    text-transform: uppercase;
    font-size: 17px;
    transition: all 0.5s;
}


.header__content li a:hover{
    color: #e62b4a;
}

.header__content li.active a{
    color: #e62b4a;
}


/* banner */
.banner{
    background-image: url(./image/home_slider.jpg);
    height: 650px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__container{
    text-align: center;
    color: white;
}

.banner__container p{
    font-size: 25px;
    /* margin: 30px 0;
    font-weight: 700; */
}

.banner__container h1{
    font-size: 75px;
    line-height: 90px;
    /* padding-bottom: 20px; */
}


.banner__container button{
    background: #e62b4a;
    color: white;
    padding: 14px 40px;
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid #e62b4a;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
}

.banner__container button:hover{
    background-color: #af2239;
}

.banner__scroll i{
    margin-top: 50px;
    font-size: 30px;
    animation: arrowDown 1s linear 0s infinite; 
}

/* banner */
@keyframes arrowDown {
    from{
         opacity: 1;
         transform: translateY(0);
    }

    to{
        opacity: 0;
        transform: translateY(40px);
    }
}



/* services */
.services{
    text-align: center;
    padding: 80px 0;
    background-color: black;
}

.services__content{
    width: 75%;
    margin: 0 auto;
    letter-spacing: 1px;
}

.services__slider{
    margin-top: 20px;
}

.services__slider .item{
    width: 100%;
    height: 230px;
    background-color: white;
    color: #848482;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.services__slider .item i{
    font-size: 50px;
    color: #888888;
}

.services__slider .item p{
    font-size: 14px;
}

.services__slider .item::after{
    content: '';
    height: 0%;
    width: 5px;
    background-color: #e62b4a;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    /* transition: all .2s linear; */
    transition: 0.3s;
}

.services__slider .item:hover::after{
    height: 100%;
}

.slick__content .slick-dots li button:before{
    color: white;
    font-size: 14px;
}

.slick__content .slick-dots li.slick-active button:before{
    color: #e62b4a;
}

/* blog */
.blog{
    padding: 100px 0;
    background-color: #f3f3f3;
}

.blog__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    width: 75%;
    margin: 50px auto 0;
}

.blog .title h2{
    color: black;
}

.title--black p:first-of-type{
    color: #888888;
    font-weight: 400;
    font-size: 20px;
}

.blog__item img{
    width: 100%;
    height: 100%;
    filter: grayscale(50%) contrast(50%);
    object-fit: cover;
    transition: all .5s;
}

.blog__item__1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.blog__item__10{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.blog__item{
    position: relative;
    overflow: hidden;
}

.blog__overlay{
    background-color: rgba(230, 43, 74, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    opacity: 0;
    transition: all .5s;
}

.blog__item:hover .blog__overlay{
    opacity: 1;
}

.blog__icons{
    position: absolute;
    top: 25px;
    right: 25px;
}

.blog__icons i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: white;
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
    transform: translateY(20px);
    transition: all .5s;
}


.blog__item:hover .blog__icons i{
    transform: translateY(0);
}

.blog__icons i:hover{
    background-color: black;
    color: white;
}

.blog__text{
    position: absolute;
    left: 25px;
    bottom: 25px;
    transform: translateY(20px);
    transition: all 8.5;
}

.blog__text p{
    color: #d0c7c8;
    
}

.blog__item:hover .blog__text{
    transform: translateY(0);
}


/* number */
.number{
    background: black;
    padding: 100px 0;
}

.number__content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.number__item{
    width: 25%;
}

.number__item  p:first-of-type{
    font-size: 60px;
    font-weight: 300;
    color: white;
}

.number__item p:last-of-type{
    font-size: 20px;
    color: #888888;
}

/* exp */
.exp{
    background-image: url(./image/bussiness_img_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.exp__content{
    width: 75%;
    margin: 30px auto 0;
}

.exp__content video{
    width: 100%;
    object-fit: cover;
    border: none;
    box-shadow: 0 2px 10px 1px rgb(0,0,0,0.5);
    outline: none;
}

/* contact */
.contact{
    padding: 100px 0;
}

.contact__content{
    width: 70%;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
}

.google__map{
    width: 60%;
}

.google__map iframe{
    width: 100%;
}

.contact__form{
    width: 40%;
}

.contact__form form{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.contact__form input,
.contact__form textarea{
    font-size: 15px;
    padding: 1em;
    border: 1px solid #888888;
    border-radius: 2px;
    margin-bottom: 30px;
}

/* footer */
footer{
    background-color: black;
}

.footer__content{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.footer__content p{
    font-size: 14px;
}

.footer__content a{
    width: 54px;
    height: 54px;
    display: inline-block;
    border-radius: 50%;
    line-height: 54px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    transition: all .5s;
}

.footer__content a:hover{
    background-color: #e62b4a;
}

/* backtotop */
.backToTop {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    text-align: center;
    background: rgba(0,0,0,0.25);
    font-weight: bold;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
}

