<meta charset="utf-8">
<div class="user-details">
    <h1>My Profile</h1>
    <p>{{ site.user_description }}</p>
</div>
<div id="contents">
    <h1 class="c29"><span class="c19 c38" style="font-size: 25px;">TECHNICAL EXPERTISES</span></h1>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c12"><span class="c9" style="font-size: 20px;">Có kiến thức cơ bản về Front-End:</span></li>
    </ul>
    <ul class="c6 lst-kix_list_5-1 start">
        <li class="c18"><span class="c34" style="font-size: 20px;">HTML</span></li>
        <li class="c18"><span class="c34" style="font-size: 20px;">CSS</span></li>
        <li class="c18"><span class="c34" style="font-size: 20px;">Javascript</span></li>
        <li class="c18"><span class="c34" style="font-size: 20px;">ReactJs</span></li>

        <ul class="c6 lst-kix_list_4-0">
            <li class="c12"><span class="c9" style="font-size: 20px">Other</span></li>
        </ul>

        <ul class="c6 lst-kix_list_5-1 start">
            <li class="c18"><span class="c34" style="font-size: 20px;">Có hiểu biết về các lỗ hổng website</span></li>








            <h1 class="c27"><span class="c19 c38" style="font-size: 25px">Phần Thưởng Tìm Kiếm Lỗ Hổng</span></h1>


            <p class="c1"><span class="c0"></span></p>
            <ol class="c6 lst-kix_list_1-0" start="4">
                <li class="c32" style="font-size: 20px;">
                    <h3 style="display:inline"><span class="c8 c1" style="font-size: 20px;">Bug bounty (ASP.NET)</span>
                    </h3>
                </li>
            </ol>
            <p class="c4"><span class="c0"></span></p>
            <a id="t.a753efce6c38d6fa9aedc9bd34b6d52afe6b4fc1"></a>
            <a id="t.3"></a>
            <table class="c2">

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Thời gian</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c0" style="font-size: 20px;">09/2020</span></p>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Công việc</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c1" style="font-size: 20px;">Pentest</span></p>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Mô tả</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c24" id="h.gjdgxs"><span class="c0" style="font-size: 20px;">Phát hiện lổ hổng nghiêm
                                trọng trên nền tảng telerik, 1 phần mềm thuộc trường học (CVE-2017-9248) </span></p>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Chi tiết về lổ hổng:</span></p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://vanlam2001.github.io/blog/cve-2017-9248-NSG/"
                                        target="_blank">https://vanlam.online/cve-2017-9248-NSG/</a></span></li>
                        </ul>
                    </td>
                </tr>



            </table>

            <tr class="c3">
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c7"><span class="c9">Nghiên cứu</span></p>
                    <p class="c4"><span class="c9"></span></p>
                </td>
                <td class="c15" colspan="1" rowspan="1">
                    <ul class="c6 lst-kix_list_3-0">
                        <li class="c7 c14"><span class="c1">Research</span></li>
                        <li class="c7 c14"><span class="c1">Pentest</span></li>
                    </ul>
                </td>
            </tr>

            <p class="c7"><span></span></p>
            <ol class="c6 lst-kix_list_1-0" start="2">
                <li class="c32" style="font-size: 20px;">
                    <h3 style="display:inline"><span class="c8 c1" style="font-size: 20px;">Bug bounty
                            (WordPress)</span></h3>
                </li>
            </ol>
            <p class="c4"><span class="c0"></span></p>
            <a id="t.a753efce6c38d6fa9aedc9bd34b6d52afe6b4fc1"></a>
            <a id="t.3"></a>
            <table class="c2">

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Thời gian</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c0" style="font-size: 20px;">03/2022</span></p>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Công việc</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c1" style="font-size: 20px;">Pentest</span></p>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Mô tả</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c24" id="h.gjdgxs"><span class="c0" style="font-size: 20px;">Phát hiện lổ hổng trên
                                nền tảng WordPress, 1 trang web thuộc trường học (CVE-2017-5487) </span></p>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Chi tiết về lổ hổng:</span></p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://vanlam2001.github.io/blog/user-disclosure-wordpress/"
                                        target="_blank">https://vanlam.online/user-disclosure-wordpress/</a></span></li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9">Nghiên cứu</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1">Research</span></li>
                            <li class="c7 c14"><span class="c1">Pentest</span></li>
                        </ul>
                    </td>
                </tr>



            </table>







</div>




</div>
</div>
</div>