<meta charset="utf-8">
<div class="user-details">
    <h1>My Profile</h1>
    <p>{{ site.user_description }}</p>
</div>
<div id="contents">
    <h1 class="c29"><span class="c19 c38" style="font-size: 25px;">Education

        </span></h1>
    <ul class="c6 lst-kix_list_4-0">
        <li class="c12"><span class="c9" style="font-size: 20px;">09/2022 - 04/2023:</span></li>
    </ul>
    <ul class="c6 lst-kix_list_5-1 start">
        <li class="c18"><span class="c34" style="font-size: 20px;">CyberSoft Academy (CyberSoft Academy - Training
                Programming Experts)</span></li>
        <li class="c18"><span class="c34" style="font-size: 15px;">Spent 6 months learning FrontEnd development, HTML,
                CSS, Javascript, Bootstrap, Reactjs,
                Tailwind, Redux, SASS, ES6, Typescript</span></li>


        <h1 class="c29"><span class="c19 c38" style="font-size: 25px;">TECHNICAL SKILLS</span></h1>
        <ul class="c6 lst-kix_list_4-0">
            <li class="c12"><span class="c9" style="font-size: 20px;">Have basic knowledge of Front-End:</span></li>
        </ul>
        <ul class="c6 lst-kix_list_5-1 start">
            <li class="c18"><span class="c34" style="font-size: 20px;">HTML</span></li>
            <li class="c18"><span class="c34" style="font-size: 20px;">CSS</span></li>
            <li class="c18"><span class="c34" style="font-size: 20px;">Javascript</span></li>
            <li class="c18"><span class="c34" style="font-size: 20px;">BOOTSTRAP</span></li>
            <li class="c18"><span class="c34" style="font-size: 20px;">Tailwind</span></li>
            <li class="c18"><span class="c34" style="font-size: 20px;">Ant Design</span></li>
            <li class="c18"><span class="c34" style="font-size: 20px;">ReactJs</span></li>
        </ul>

        <ul class="c6 lst-kix_list_4-0">
            <li class="c12"><span class="c9" style="font-size: 20px;">Have basic knowledge of Back-End:</span></li>
        </ul>

        <ul class="c6 lst-kix_list_5-1 start">
            <li class="c18"><span class="c34" style="font-size: 20px;">Python</span></li>
            <li class="c18"><span class="c34" style="font-size: 20px;">FastAPI</span></li>
            <li class="c18"><span class="c34" style="font-size: 20px;">Mongodb</span></li>
        </ul>





        <ul class="c6 lst-kix_list_4-0">
            <li class="c12"><span class="c9" style="font-size: 20px">Other</span></li>
        </ul>

        <ul class="c6 lst-kix_list_5-1 start">
            <li class="c18"><span class="c34" style="font-size: 20px;">Version Control: Git</span>
            </li>
            <li class="c18"><span class="c34" style="font-size: 20px;">Penetration Testing</span>
            </li>

            <!-- 0 -->
            <h1 class="c27"><span class="c19 c38" style="font-size: 25px"></span></h1>
            <p class="c1"><span class="c0"></span></p>
            <ul class="c6 lst-kix_list_4-0">
                <li class="c12"><span class="c9" style="font-size: 20px;">07/2023 - 09/2023</span>
                </li>
            </ul>
            <p class="c4"><span class="c0"></span></p>
            <a id="t.a753efce6c38d6fa9aedc9bd34b6d52afe6b4fc1"></a>
            <a id="t.3"></a>
            <table class="c2">
                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Project</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c0" style="font-size: 20px;">API Scan for security
                                vulnerabilities</span></p>
                    </td>
                </tr>


                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Job</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c1" style="font-size: 20px;">Developer</span></p>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Description project</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c24" id="h.gjdgxs"><span class="c0" style="font-size: 20px;">
                                Create functions for login, registration, password recovery, and vulnerability checking
                                (CVE)
                            </span></p>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Project link:</span></p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://api-cve-scan-project.onrender.com/docs "
                                        target="_blank">https://api-cve-scan-project.onrender.com/docs</a></span></li>
                        </ul>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Source code:</span></p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://github.com/vanlam2001/cve_scan_project_api "
                                        target="_blank">https://github.com/vanlam2001/cve_scan_project_api</a></span>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Technology description</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">

                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Python</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">FASTAPI</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Mongodb</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Argon2</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">JWT</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Requests</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Socket</span></li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">My position in the project</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Back-End</span></li>

                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Team size</span>
                        </p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">1</span></li>

                        </ul>
                    </td>
                </tr>



            </table>

            <!-- 1 -->



            <!-- 0 -->
            <h1 class="c27"><span class="c19 c38" style="font-size: 25px"></span></h1>
            <p class="c1"><span class="c0"></span></p>
            <ul class="c6 lst-kix_list_4-0">
                <li class="c12"><span class="c9" style="font-size: 20px;">07/2023 - 09/2023</span>
                </li>
            </ul>
            <p class="c4"><span class="c0"></span></p>
            <a id="t.a753efce6c38d6fa9aedc9bd34b6d52afe6b4fc1"></a>
            <a id="t.3"></a>
            <table class="c2">
                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Project</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c0" style="font-size: 20px;">API Movie project</span></p>
                    </td>
                </tr>


                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Job</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c1" style="font-size: 20px;">Developer</span></p>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Description project</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c24" id="h.gjdgxs"><span class="c0" style="font-size: 20px;">
                                Build login, registration, user management, movie management, theater management
                            </span></p>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Project link:</span></p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://movie-vanlam-api.onrender.com/docs"
                                        target="_blank">https://movie-vanlam-api.onrender.com/docs</a></span>
                            </li>
                        </ul>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Source code:</span></p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://github.com/vanlam2001/my_fast_api_movie_project"
                                        target="_blank">https://github.com/vanlam2001/my_fast_api_movie_project</a></span>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Technology description</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">

                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Python</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">FASTAPI</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Mongodb</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">bcrypt 4.0.1</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">JWT</span></li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">My position in the project</span>
                        </p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Back-End</span></li>

                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Team size</span>
                        </p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">1</span></li>

                        </ul>
                    </td>
                </tr>



            </table>


            <h1 class="c27"><span class="c19 c38" style="font-size: 25px"></span></h1>
            <p class="c1"><span class="c0"></span></p>
            <ul class="c6 lst-kix_list_4-0">
                <li class="c12"><span class="c9" style="font-size: 20px;">07/2023 - 09/2023</span>
                </li>
            </ul>
            <p class="c4"><span class="c0"></span></p>
            <a id="t.a753efce6c38d6fa9aedc9bd34b6d52afe6b4fc1"></a>
            <a id="t.3"></a>
            <table class="c2">
                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Project</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c0" style="font-size: 20px;">Admin Movie (API movie project)</span>
                        </p>
                    </td>
                </tr>


                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Job</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c1" style="font-size: 20px;">Developer</span></p>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Description project</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c24" id="h.gjdgxs"><span class="c0" style="font-size: 20px;">
                                Build functions Login, AdminUsers, Manage cinemas, delete edits and updates, use api
                                from (https://movie-vanlam-api.onrender.com/docs)
                            </span></p>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Project link:</span></p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://admin-movie-project-fastapi.vercel.app/ "
                                        target="_blank">https://admin-movie-project-fastapi.vercel.app/</a></span></li>
                        </ul>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Source code:</span></p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://github.com/vanlam2001/admin_movie_project_fastapi "
                                        target="_blank">https://github.com/vanlam2001/admin_movie_project_fastapi</a></span>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Technology description</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Tailwind</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Antd</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">ReactJS</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Redux Thunk</span></li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">My position in the project</span>
                        </p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Front-End</span></li>

                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Team size</span>
                        </p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">1</span></li>

                        </ul>
                    </td>
                </tr>



            </table>


            <!-- 1 -->
            <h1 class="c27"><span class="c19 c38" style="font-size: 25px"></span></h1>
            <p class="c1"><span class="c0"></span></p>
            <ul class="c6 lst-kix_list_4-0">
                <li class="c12"><span class="c9" style="font-size: 20px;">04/2023 - 05/2023</span>
                </li>
            </ul>
            <p class="c4"><span class="c0"></span></p>
            <a id="t.a753efce6c38d6fa9aedc9bd34b6d52afe6b4fc1"></a>
            <a id="t.3"></a>
            <table class="c2">
                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Project</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c0" style="font-size: 20px;">Elearning project</span></p>
                    </td>
                </tr>


                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Job</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c1" style="font-size: 20px;">Developer</span></p>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Description project</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c24" id="h.gjdgxs"><span class="c0" style="font-size: 20px;">
                                Build functions Login, Register, List Course, In Course, Select, Search, UpdateUser,
                                RegisterCourse, Responsive
                            </span></p>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Project link:</span></p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://elearning-nhom4.vercel.app/ "
                                        target="_blank">https://elearning-nhom4.vercel.app</a></span></li>
                        </ul>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Source code:</span></p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://github.com/vanlam2001/elearning_nhom4 "
                                        target="_blank">https://github.com/vanlam2001/elearning_nhom4</a></span>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Technology description</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">

                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">SASS</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Tailwind</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Antd</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">ReactJS</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Redux Thunk</span></li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">My position in the project</span>
                        </p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Front-End</span></li>

                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Team size</span>
                        </p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">3</span></li>

                        </ul>
                    </td>
                </tr>



            </table>



            <!-- 2 -->
            <p class="c1"><span class="c0"></span></p>
            <p class="c4"><span class="c0"></span></p>
            <ul class="c6 lst-kix_list_4-0">
                <li class="c12"><span class="c9" style="font-size: 20px;">04/2023 - 05/2023</span>
                </li>
            </ul>
            <p class="c4"><span class="c0"></span></p>
            <a id="t.a753efce6c38d6fa9aedc9bd34b6d52afe6b4fc1"></a>
            <a id="t.3"></a>
            <table class="c2">
                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Project</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c0" style="font-size: 20px;">Elearning (Administration)</span>
                        </p>
                    </td>
                </tr>


                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Job</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c1" style="font-size: 20px;">Developer</span></p>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Description project</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c24" id="h.gjdgxs"><span class="c0" style="font-size: 20px;">
                                Build functions Login, Register, AdminUsers, AdminCourse, Delete, Edit, Update,
                                Search,
                                AddUsers, AddCourse, RegisteredCourse, RegisteredUsers
                            </span></p>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Project link:</span></p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://admin-elearning-nhom4.vercel.app/ "
                                        target="_blank">https://admin-elearning-nhom4.vercel.app/</a></span></li>
                        </ul>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Source code:</span></p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://github.com/vanlam2001/admin_elearning_nhom4 "
                                        target="_blank">https://github.com/vanlam2001/admin_elearning_nhom4</a></span>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Technology description</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Tailwind</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Antd</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">ReactJS</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Redux Thunk</span></li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">My position in the project</span>
                        </p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Front-End</span></li>

                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Team size</span>
                        </p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">3</span></li>

                        </ul>
                    </td>
                </tr>



            </table>

            <!-- 3 -->


            <h1 class="c27"><span class="c19 c38" style="font-size: 25px">HONORS & AWARDS</span>
            </h1>

            <!-- 5 -->
            <p class="c1"><span class="c0"></span></p>

            <p class="c4"><span class="c0"></span></p>
            <a id="t.a753efce6c38d6fa9aedc9bd34b6d52afe6b4fc1"></a>
            <a id="t.3"></a>
            <table class="c2">

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Time</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c0" style="font-size: 20px;">09/2022</span></p>
                    </td>
                </tr>



                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Description</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c24" id="h.gjdgxs"><span class="c0" style="font-size: 20px;">
                                Vulnerability discovered on WordPress platform, 1 school website (CVE-2017-5487) Bonus:
                                500,000 VND (Nam Sai Gon Polytechnic College)
                            </span>
                        </p>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Details about the vulnerability:</span>
                        </p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://vanlam2001.github.io/blog/cve-2017-9248-NSG/"
                                        target="_blank">https://vanlam.online/user-disclosure-wordpress/</a></span></li>
                        </ul>

                        <p class="c24"><span class="c0" style="font-size: 20px;">Discovering Product Flaws:
                            </span>
                        </p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://namsaigon.edu.vn" target="_blank"></a>
                                    https://namsaigon.edu.vn</a></span>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Job</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Research</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Pentest</span></li>
                        </ul>
                    </td>
                </tr>



            </table>


            <!-- 6 -->
            <p class="c7"><span></span></p>
            <ol class="c6 lst-kix_list_1-0" start="2">

            </ol>
            <p class="c4"><span class="c0"></span></p>
            <a id="t.a753efce6c38d6fa9aedc9bd34b6d52afe6b4fc1"></a>
            <a id="t.3"></a>
            <table class="c2">

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Time</span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c7"><span class="c0" style="font-size: 20px;">03/2022</span></p>
                    </td>
                </tr>


                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Description</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <p class="c24" id="h.gjdgxs"><span class="c0" style="font-size: 20px;">
                                Vulnerability discovered on Telerik platform (.NET), 1 school website (CVE-2017-9248)
                                Bonus:
                                1.500,000 VND (Nam Sai Gon Polytechnic College)

                            </span></p>
                        <p class="c24"><span class="c0" style="font-size: 20px;">Details about the vulnerability:</span>
                        </p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="https://vanlam2001.github.io/blog/cve-2017-9248-NSG"
                                        target="_blank">https://vanlam.online/cve-2017-9248-NSG</a></span>
                            </li>
                        </ul>

                        <p class="c24"><span class="c0" style="font-size: 20px;">Discovering Product Flaws:
                            </span>
                        </p>
                        <ul class="c6 lst-kix_list_19-0">
                            <li class="c24 c14"><span class="c30" style="font-size: 15px;"><a class="c37"
                                        href="http://namsaigon.phanmemdaotao.com/" target="_blank"></a>
                                    http://namsaigon.phanmemdaotao.com/</a></span>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr class="c3">
                    <td class="c13" colspan="1" rowspan="1">
                        <p class="c7"><span class="c9" style="font-size: 20px;">Job</span></p>
                        <p class="c4"><span class="c9"></span></p>
                    </td>
                    <td class="c15" colspan="1" rowspan="1">
                        <ul class="c6 lst-kix_list_3-0">
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Research</span></li>
                            <li class="c7 c14"><span class="c1" style="font-size: 20px;">Pentest</span></li>
                        </ul>
                    </td>
                </tr>



            </table>







</div>




</div>
</div>
</div>